<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A page containing, surprisingly, words.">
    <meta name="author" content="fsoc">

    <base href="/words/">

	<link rel="stylesheet" href="/static/css/basic.css">
	<link rel="stylesheet" href="./static/css/words.css">

    <link rel="icon" href="/static/favicon.png">

	<title>fsoc/words</title>
</head>
<body>
    <header>
        <h3><a href="..">fsoc</a>/words</h3>

        <p>
            For contact information see <a href='/'>the index</a>.
        </p>

        <p>
            If you come across any errors in the following posts please feel free 
            to send me an email about it. All content on this site is released to 
            the public domain unless otherwise noted.
        </p>

        <hr>
    </header>

	<main>
        <nav>{{#items}}
            <div class='item'>
                <h3>
                    <a href="./{{slug}}/">{{title}}</a>
                    <time class="date" datetime="{{date}}">
                        <small>{{date}}</small>
                    </time>
                </h3>
            </div>
        {{/items}}</nav>
    </main>
</body>

</html>
