<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A page containing, surprisingly, words.">
    <meta name="author" content="fsoc">

    <base href="/words/">

    <link rel="stylesheet" href="/assets/css/basic.css">
	<link rel="stylesheet" href="./assets/css/words.css">

    <link rel="icon" href="/assets/favicon.ico">

	<title>{{title}}</title>
</head>

<body class="item-body">
    <header>
        {{#hidden}}
			<p>You are viewing a <emph>hidden</emph> document. It is not indexed and
            only available through this link.</p>
        {{/hidden}}
        
        <div class="item-top-bar">
            <span><i><a href="/words">back</a></i></span>
            <div class="align-end"><i>{{date}}</i></div>
        </div>

        <hr class="invisible" />
        <h1>
            {{title}}
        </h1>
        <hr/>
    </header>

    <main>
		{{{content}}}
    </main>

    <footer>
        <a href='/legal'>Impressum, Datenschutz</a>
    </footer>
</body>

</html>