<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A page containing, surprisingly, words.">
    <meta name="author" content="fsoc">
    
    <base href="/words/">

    <link rel="stylesheet" href="/static/css/basic.css">
	<link rel="stylesheet" href="./static/css/words.css">

    <link rel="icon" href="/static/favicon.png">

	<title>{{title}}</title>
</head>

<body>
    <header>
        {{#hidden}}
			You are viewing a <i>hidden</i> document. It is not indexed and
            only available through this link.

            <hr>
		{{/hidden}}

		<h1>{{title}}</h1>
    </header>

    <main>
		{{{content}}}
    </main>
</body>

</html>