.item {
    margin-bottom: 0.5em;
}

.item * {
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
}

pre {
    color: #F5F8FA;
    background-color: #202B33;

    padding: 0.75em;
    border-radius: 0.25em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.item-body > main, .item-body > header {
    margin-left: auto;
    margin-right: auto;
}

.item-body > header {
    display: flex;
    flex-direction: column;
}

.item-body h1 {
    align-self: center;
}

a.back {
    font-weight: normal;
    font-size: small;
}

.item-body .item-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align-end {
    align-self: flex-end;
}

.item-body p {
    text-align: justify;
}

.item-body hr {
    width: 100%;
}

.item-body hr.invisible {
    border: 0;
}