m {
    margin-bottom: 0.5em;
}

.item * {
    font-weight: normal;
}

img {
    width: 100%;
    height: auto;
}

pre {
    color: #F5F8FA;
    background-color: #202B33;

    padding: 0.75em;
    border-radius: 0.25em;
}
