a { color: inherit; }
a:hover { text-decoration: none; }

small { font-weight: lighter; }
h1, h2, h3, h4, h5 { margin: 0; }

body {
    font-family: Georgia, "Times New Roman", Times, serif;

    text-rendering: optimizeLegibility;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-feature-settings: "liga";

    font-size: 0.9rem;

    margin: 0px;
    padding: 20px;

    color: #202B33;
}

@media (min-width: 700px) {
    body {
        font-size: 1.4rem;

        padding: 50px;
    }
}

main, header {
    max-width: 800px;
    font-size: 1.125em;
}
