@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans;

        /* Make sure that the body takes up at least the whole screen, vertically */
        min-height: 100vh;

        /* Allow for nice header-content-footer spacing even when content is <100vh */
        display: flex;
        flex-direction: column;
    }
}

@layer components {
    .container {
        @apply max-w-2xl w-full px-4 mx-auto;
    }

    .ty, .prose {
        @apply text-gray-700;
    }

    a.ty, .prose a {
        @apply text-gray-900 underline font-medium;
    }

    code.ty, .prose code {
        @apply text-gray-900 font-semibold text-sm;
    }

    code.ty::before, .prose code::before {
        content: "`";
    }

    code.ty::after, .prose code::after {
        content: "`";
    }

    .prose pre {
        @apply text-black;
        @apply bg-gray-100;

        @apply text-sm;
        @apply leading-5;

        @apply my-4;
        @apply py-4;
        @apply px-5;
        @apply rounded-md;

        @apply overflow-x-auto;
    }

    .prose pre code {
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        padding: 0;
        font-weight: 400;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
    }

    .prose pre code::before {
        content: none;
    }
      
    .prose pre code::after {
        content: none;
    }

    .prose p {
        @apply w-full mb-2;
    }

    .prose ul > li {
        position: relative;
        padding-left: 1.75em;
    }

    .prose ul > li::before {
        content: "";
        position: absolute;
        @apply bg-gray-500;
        border-radius: 50%;
        width: 0.375em;
        height: 0.375em;
        top: calc(0.875em - 0.1875em);
        left: 0.25em;
    }

    .prose li {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .prose h1 {
        color: #111827;
        font-weight: 700;
        font-size: 2em;
        margin-top: 0;
        margin-bottom: 0.8888889em;
        line-height: 1.1111111;
    }

    .prose h2 {
        color: #111827;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 1.3333333;

        @apply my-4;
    }

    .prose h3 {
        color: #111827;
        font-weight: 600;
        font-size: 1.25em;
        line-height: 1.6;

        @apply my-3;
    }

    .prose blockquote {
        font-weight: 500;
        font-style: italic;
        color: #111827;
        @apply ml-4;
    }
}
