@import url('https://rsms.me/inter/inter.css');
html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    @font-face {
        font-family: 'JetBrains Mono';
        font-style:  normal;
        font-weight: 500;
        font-display: swap;
        src: url("/assets/JetBrainsMono-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: 'JetBrains Mono';
        font-style:  normal;
        font-weight: 600;
        font-display: swap;
        src: url("/assets/JetBrainsMono-Medium.woff2") format("woff2");
    }

    html {
        font-family: 'Inter var', sans-serif;
    }
}